.card-wrapper {
  margin-top: 40px;
  background-color: #fdfdfc;
  width: 280px;
  height: 120px;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.card-wrapper:hover {
  background-color: #dfeae6;
}

@media only screen and (max-width: 600px) {
  .card-wrapper {
    width: auto;
  }
}

.table-card {
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  height: 390px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* .card-body {
} */

.table-title {
  font-size: 20px;
}

.table h5 {
  font-size: 15px;
}

.table .view-btn {
  text-align: right;
}
.view-btn div {
  width: 80px;
}








.member-panel {
  margin-top: 20px;
  height: 400px;
}
.member-header {
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.member-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.member-list {
  list-style: none;
  padding: unset;
}

.member-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.member-footer {
  padding: 10px;
}

.member-image {
  /* width: 20px;
  height: 20px;
  background-color: rgb(187, 78, 78); */
  margin-left: 20px;
}

.member-image img {
  width: 40px;
  border-radius: 20px;
}
.contact {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 5px;
}

.member-name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
